.pagination {
  margin-top: 70px;

  .nav-links {
    text-align: center;
    display: inline-block;
    margin-left: 0;

  }

  .page-numbers {
    display: inline-block;
    width: 50px;
    height: 50px;
    @include border-radius(50%);
    text-align: center;
    margin-right: 10px;
    @include font-size(20px);
    line-height: 2.25em;
    color: $gold;
    float: left;
    background-color: $white;
    border: 2px solid $gold;


    &:last-child {
      margin-right: 0;

    }

    &:hover {
      background-color: $gold;
      color: $white;

    }

    &.current {
      background-color: lighten($gold, 20%);
      color: $white;

    }

  }

  .next,
  .prev {
    @include font-size(25px);
    line-height: normal;
    color: $gold;
    background-color: $white;

    i {
      display: inline-block;
      padding-top: 12px;

    }

  }

  .next {
    margin-left: 20px;

    i {
      padding-left: 4px;

    }

  }

  .prev {
    margin-right: 20px;

    i {
      padding-right: 4px;

    }

  }

}
